body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: rgb(23, 124, 23);
    font: arial, helvetica;
    text-transform: uppercase;
}
